body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;   
    font-size:10pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.detail-font {
    font-family: 'Merriweather', serif;
    font-size:10pt;
}

.cell-header {
    background-color: #f7f7f7;
    border: solid 1px #ddd !important;
    font-weight: normal;
    padding:2px;
}

.form-control-sm {    
    font-size: 0.690rem !important;    
}

.form-group {
    margin-bottom: .70rem;
}

.btn-sm {
    font-size: 0.690rem !important;
}
