.program {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
}
.program-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
}
.bg-program-standard {
  background-color: #0367B4;
}
.border-standard {
  border-color: #0367B4 !important;
}
.sortable-placeholder {
  border: 2px dotted #FF9200;
  border-radius: 7px;
  visibility: visible !important;
  margin-left: 5px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: #FFC372;
  flex: 1 1 auto;
  padding: 0.75rem;
}
.tier-title {
  font-size: 12pt;
}
.tier-modal-header {
  border-radius: 0;
  background-color: #0367B4;
}
.tier-modal-body {
  color: #0367B4;
}
.tier-footer {
  border-radius: 0;
  background-color: #0367B4;
}
.tier-options {
  background-color: #0367B4;
}
.tier {
  margin-top: 5px;
  margin-left: 25px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 4px solid #eee;
  border-left: 35px solid #eee;
  border-radius: 7px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem;
}
.therapy-line-item {
  padding: 0.38rem 0.75rem;
  margin-bottom: -1px;
  background-color: #fff;
  color: #4f81bd;
  border: 1px solid rgba(79, 129, 189, 0.15);
}
.dependency-bar {
  border: 1px solid #0367B4;
  background-color: #77BEF5;
  height: 55px;
  padding-top: 10px;
}
.view-toolbar {
  background-color: #0367B4;
  margin-top: -9px;
}
.view-toolbar .header {
  font-size: 20pt;
  color: white;
}
#function-panel {
  padding: 8px 0 8px 8px;
}
.btn-default {
  color: #333;
  background-color: #f4f4f4;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.check-label {
  margin-bottom: 0!important;
  padding-left: 3px!important;
}
.form-divider {
  margin: 2px 2px 6px 2px;
}