<div class="program" style="margin-top:7px">
    <div class="program-header bg-program-standard text-white">
        <span class="pull-right">
            <a href="#" class="btn btn-outline-light btn-sm" data-bind="click:  step.loadModal">
                <span class="fa fa-plus"></span>
            </a>
        </span>
        <span data-bind="text: Name"></span>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="tier border-standard">                            
                <ul class="list-group" data-bind="foreach: FillLines">
                    <li class="list-group-item therapy-line-item list-group-item-action" data-bind="click: step.loadModal">
                        <span data-bind="text: DisplayValue"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
