<div class="program" style="margin-top:7px">
    <div class="program-header bg-program-standard text-white">        
        <span class="pull-right">
            <a href="#" class="btn btn-outline-light btn-sm" data-bind="click: step.loadModal">
                <span class="fa fa-plus"></span>
            </a>
        </span>
        <span data-bind="text: Name"></span> 
    </div>
    <div class="row column-tiers" data-bind="foreach: Tiers">       
        <div class="col-lg-12 ">
            <div class="tier draggable border-standard">                
                <svg style="position:absolute;top:-10px;left:-57px" width="75" height="75">                    
                    <line x1="30" x2="50" y1="30" y2="30" style="stroke:#eee;stroke-width:2"></line>
                    <line x1="30" x2="50" y1="35" y2="35" style="stroke:#eee;stroke-width:2"></line>
                    <line x1="30" x2="50" y1="40" y2="40" style="stroke:#eee;stroke-width:2"></line>
                    <line x1="30" x2="50" y1="45" y2="45" style="stroke:#eee;stroke-width:2"></line>
                </svg>
                <span>
                    <span class="pull-right" style="margin-right:3px;margin-top:-5px">
                        <a href="#" class="btn btn-outline-primary btn-sm" data-bind="click: step.loadModal">
                            <span class="fa fa-plus"></span>
                        </a>
                    </span>
                    <b><span class="tier-title" data-bind="text: Name"></span>:</b> <span data-bind="text: Description"></span>
                </span>
                <ul class="list-group" data-bind="foreach: Lines">
                    <li class="list-group-item therapy-line-item list-group-item-action" data-bind="click: step.loadModal"> 
                        <span data-bind="visible: !IsInheriting()">
                            <i class="fa fa-unlink text-success"></i>
                        </span>
                        <span data-bind="visible: IsInheriting()">
                            <i class="fa fa-bars"></i>
                        </span>
                        <span data-bind="text: DisplayValue"></span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>  