<!-- RIBBON -->
<div style="background-color:#77bef5">
    <div id="breadcrumb-panel" class="breadcrumb-panel btn btn-group btn-breadcrumb">
        <a href="/Home" class="btn btn-sm btn-default text-primary">
            <i class="fa fa-dashboard"></i>
        </a>
        <a id="dashboard" href="/Home" class="btn btn-sm btn-primary text-white">
            Dashboard
        </a>
    </div>

    <span class="pull-right">
        <div id="app-toolbar" class="toolbar-container">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id="tbb-export" type="button" class="btn btn-default text-primary">
                    <span class="fa fa-file-excel-o"></span> Export
                </button>
                <button id="tbb-print" type="button" class="btn btn-default text-primary">
                    <span class="fa fa-print"></span> Print
                </button>
                <button id="tbb-copy" type="button" class="btn btn-default text-primary">
                    <span class="fa fa-copy"></span> Copy
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Save">
                <button id="tbb-delete" type="button" class="btn btn-danger text-white" data-toggle="tooltip" data-placement="bottom" title="Delete">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Save">
                <button id="tbb-save" type="button" style="width:126px" class="btn btn-primary text-white" data-toggle="tooltip" data-placement="bottom" title="Save">
                    <span class="fa fa-save"></span> Save
                </button>
            </div>
        </div>
    </span>
</div>
<!-- END RIBBON -->
