@using Newtonsoft.Json
@section styles {
    <style>
        .dropdown-item {
            color: #007bff;
            font-size:10pt !important;
        }
    </style>    
}
<section>
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Drug Selection Test Control
                </div>
                <div class="card-body">
                    @Html.Partial("_DrugSelection")
                </div>
                @*<div class="card-footer bg-primary text-white">
                    Total Drug Results: <span data-bind="text: DrugSelection.SearchResults().length"></span>
                </div>*@
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="~/Scripts/DrugSearch.js"></script>
    <script type="text/javascript" src="~/Scripts/TypeAhead.js"></script>
    <script type="text/javascript">      
        $(function () {
            drugsearch.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            drugsearch.init();
        });
    </script>
}