@{
    ViewBag.Title = "Main";
}

<div class="jumbotron">
    <h1>ScriptCycle: Prototype Views</h1>
    <p class="lead">
        This project is used to flush out the view-models and UI layout before incorporating the changes into the 
        main ScriptCycle project.  
    </p>    
</div>