<div class="modal fade" id="file-posting-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-primary">
                    <span class="fa fa-spin fa-spinner"></span>
                    Posting Files to File Manager
                </h4>
                <div style="margin-top:15px">
                    <div class="card">
                        <div class="card-body">
                            <div data-bind="progressBar: { value: PostProgress }"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                </span>
            </div>
        </div>
    </div>
</div>
