@using Newtonsoft.Json

@{
    ViewBag.Title = "AP - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/Content/steptherapy.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        #form .dx-fieldset {
            height: 500px;
        }
        .nav-tabs .notification-tab .nav-link:not(.active) {
            background-color: white;
            color: #17a2b8;
            border-color: #17a2b8;
        }
        .nav-tabs .notification-tab .nav-link {
            background-color: #17a2b8;
            color: white;
            border-color:#17a2b8;
        }
    </style>
}

<section id="presentation-headers" style="display:none" data-bind="visible: true">
    <div id="ribbon">
        <div style="background-color:#77bef5;">
            <div id="breadcrumb-panel" class="breadcrumb-panel btn btn-group btn-breadcrumb">
                <a href="/Home" class="btn btn-sm btn-default text-primary">
                    <i class="fa fa-dashboard"></i>
                </a>
                <a id="dashboard" href="/AP" class="btn btn-sm btn-primary text-white">
                    AP Dashboard
                </a>
            </div>
            <span class="pull-right">
                <div id="app-toolbar" class="toolbar-container" style="margin-top:6px;padding-left:15px;padding-right:15px">

                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button id="tbb-export" type="button" class="btn btn-default text-primary">
                            <span class="fa fa-file-excel-o"></span> Export
                        </button>
                        <button id="tbb-print" type="button" class="btn btn-default text-primary">
                            <span class="fa fa-print"></span> Print
                        </button>
                        <button id="tbb-copy" type="button" class="btn btn-default text-primary">
                            <span class="fa fa-copy"></span> Copy
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Save">
                        <button id="tbb-delete" type="button" class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Delete">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Save">
                        <button id="tbb-save" type="button" style="width:90px" class="btn btn-sm btn-primary text-white" data-toggle="tooltip" data-placement="bottom" title="Save">
                            <span class="fa fa-save"></span> Save
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div id="step-therapy-toolbar">
        <div style="background-color: #0367B4;padding:0 15px 0 15px">
            <div class="row">
                <div class="col-lg-4">
                    <span class="header text-white" style="font-size:22pt;display:block;margin-top:5px;">Accounts Receivable</span>
                </div>
                <div class="col-lg-8">
                    <span id="function-panel" class="pull-right">
                        <div id="dashboard-toolbars" data-bind="visible: !ShowARDetails()">
                            <div class="input-group input-group-sm">

                                <button type="button" class="btn btn-sm btn-default" data-bind="click: ar.onUpload" style="margin-right:5px">
                                    <span class="fa fa-cloud-upload"></span> Upload File
                                </button>
                                <button type="button"
                                        data-toggle="button"
                                        aria-pressed="true"
                                        autocomplete="off"
                                        class-toggle="btn-outline-light"
                                        class="btn btn-sm btn-outline-light"
                                        style="padding:0 15px 0 15px; margin-right:5px"
                                        data-bind="click: ar.onConfigure">
                                    <span class="fa fa-cogs"></span> Configure
                                </button>

                                <div class="input-group-prepend">
                                    <span class="input-group-text small bg-white">
                                        Invoice #
                                    </span>
                                </div>
                                <input id="invoice_number" class="form-control" type="text" placeholder="Example: 1200" />
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-secondary" data-bind="click: ar.onSearchInvoiceNumber">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div id="detail-toolbars" data-bind="visible: ShowARDetails">
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-sm btn-default" style="margin-right: 5px">
                                    Open Details
                                </button>
                                <button type="button" class="btn btn-sm btn-default" style="margin-right:5px">
                                    Open TX Lookup
                                </button>
                                <button type="button" class="btn btn-sm btn-default" style="margin-right:5px">
                                    Open Paid Claims
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ap-view" style="display:none;padding-left:15px;padding-right:15px" data-bind="visible: true">

    <section id="dashboard">

        <section id="dashboard-view" data-bind="slideVisible: ShowDashboard">
            <div id="dashboard-cards">
                <div class="row" style="margin-top:7px">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body text-secondary">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h3 data-bind="currency: AnnualTotal"></h3>
                                        Fiscal Year
                                    </div>
                                    <div class="col-lg-3 text-secondary text-center">
                                        <span class="fa fa-dollar fa-5x"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-info text-white">
                                Total Recieved: May 2018 - Current
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body text-secondary">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h3>
                                            <span data-bind="number: AvgMonth, precision: 2"></span>
                                        </h3>
                                        Average Per Month
                                    </div>
                                    <div class="col-lg-3 text-secondary text-center">
                                        <span class="fa fa-arrows-h fa-5x"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-info text-white">
                                Avg. invoiced per month: May 2018 - Current
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body text-secondary">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h3>
                                            <span data-bind="number: AvgClaimCount, precision: 0"></span>
                                        </h3>
                                        Average claim count per month
                                    </div>
                                    <div class="col-lg-3 text-secondary text-center">
                                        <span class="fa fa-file-text-o fa-5x"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-info text-white">
                                Avg. Claim: May 2018  - Current
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body text-secondary">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h3>
                                            <span data-bind="number: AvgPaymentCount, precision: 0"></span>
                                        </h3>
                                        Average payment count per month
                                    </div>
                                    <div class="col-lg-3 text-secondary text-center">
                                        <span class="fa fa-money fa-5x"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-info text-white">
                                Avg. Payment Count: May 2018  - Current
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin:9px" />
            <div class="row">
                <div class="col-lg-5">
                    <table class="table">
                        <thead class="bg-white text-secondary">
                            <tr>
                                <th width="120px" class="text-left">Cycle Status</th>
                                <th class="text-right">Invoice Date</th>
                                <th class="text-right">Client Billed</th>
                                <th class="text-right">Unique Invoices</th>
                                <th class="text-right">Claim Count</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ClientPayments">
                            <tr>
                                <td>
                                    <span data-bind="if: PaymentCycle() == 'Complete'">
                                        <span class="fa fa-check-circle-o text-info"></span>
                                    </span>
                                    <span data-bind="if: PaymentCycle() == 'Processing'">
                                        <span class="fa fa-spin fa-spinner text-info"></span>
                                    </span>
                                    <span data-bind="text: PaymentCycle"></span>
                                </td>
                                <td class="text-right" data-bind="text: moment(Date()).format('L')"></td>
                                <td class="text-right" data-bind="currency: ClientBilled"></td>
                                <td class="text-right" data-bind="number: UniqueInvoices"></td>
                                <td class="text-right" data-bind="number: ClaimCount"></td>
                                <td class="text-center">
                                    <a href="#" style="text-decoration:underline" data-bind="click: ar.onDisplayDetails">
                                        Claims
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-7">

                    <section id="billing-compare-component" data-bind="slideVisible: ShowDetails">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <button type="button" class="close pull-right" data-bind="click: ar.onDismissDetails"><span aria-hidden="true">&times;</span></button>
                                <div>Claim Details - Billing Cycle 03/01/2019</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>Original Billing Data</h5>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><span class="fa fa-check-circle text-info"></span> Client Billed</td>
                                                    <td class="text-right">$240.749.81</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="fa fa-check-circle text-info"></span> Unique Invoices</td>
                                                    <td class="text-right">1,844</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="fa fa-check-circle text-info"></span> Claim Count</td>
                                                    <td class="text-right">25,693</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>AP Cycle Data Summary</h5>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Client Billed</td>
                                                    <td class="text-right">$240.749.81</td>
                                                </tr>
                                                <tr>
                                                    <td>Unique Invoices</td>
                                                    <td class="text-right">1,844</td>
                                                </tr>
                                                <tr>
                                                    <td>Claim Count</td>
                                                    <td class="text-right">25,693</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <section id="batches">
                                            <span style="margin-left:50px;font-size:14pt" class="text-black-50">Batch 1 Summary</span>
                                            <div class="row">
                                                <div class="col-lg-5 offset-lg-1">

                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Ingredient Cost</td>
                                                                <td class="text-right">$200,000.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Invoices</td>
                                                                <td class="text-right">1,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Claims</td>
                                                                <td class="text-right">24,000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-6">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Total Dispense Fee's</td>
                                                                <td class="text-right">$40,749.81</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Unique Groups</td>
                                                                <td class="text-right">25,693</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Reversals</td>
                                                                <td class="text-right">1,693</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <span class="pull-right">
                                    <button class="btn btn-sm btn-default" data-bind="click: ar.onDismissDetails">
                                        <span class="fa fa-close"></span> Dismiss
                                    </button>

                                    <button class="btn btn-sm btn-primary" data-bind="click: ar.onViewClaimsFile">
                                        <span class="fa fa-navicon"></span> View Claim Details
                                    </button>
                                    <button class="btn btn-sm btn-primary" data-bind="click: ar.onViewClaimsFile">
                                        <span class="fa fa-eye"></span> SHOW ALL
                                    </button>
                                </span>
                            </div>
                        </div>
                        <hr />
                    </section>
                    <section id="chart-placeholder">
                        <div>
                            <div id="chart"></div>
                        </div>
                    </section>
                    <hr />
                </div>
            </div>
        </section>

        <section id="configuration" data-bind="slideVisible: ShowConfig()">
            <div style="padding-left:15px;margin-top:7px">
                <div class="card">
                    <div class="card-header bg-info text-white" style="font-size:large">
                        <span class="fa fa-cogs"></span> Account Receivable Configuration
                        <button type="button" class="close" data-bind="click: ar.onDismissConfigure" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header bg-info text-white">
                                        <span class="fa fa-database"></span> Data Source
                                    </div>
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input class="form-check-input" name="data-source-option" type="radio" id="ds1" checked value="1" />
                                            <label class="form-check-label" for="ds1">
                                                Use Billing Manager Data
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="data-source-option" type="radio" id="ds2" value="2" />
                                            <label class="form-check-label" for="ds2">
                                                Use Custom Data File
                                            </label>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Select Directory</label>
                                                <div class="input-group">
                                                    <input type="text" name="directory" class="form-control form-control-sm" style="max-width:200px" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-info">Browse...</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>
                                                    Select File Layout
                                                </label>
                                                <div class="input-group">
                                                    <input type="text" name="file-layout" class="form-control form-control-sm" style="max-width:200px" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-info">Browse...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="margin-top:5px">
                                    <div class="card-header bg-info text-white">
                                        General Options
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Automatic AR Cycles</label><br />
                                                    <input type="checkbox" checked data-width="150" data-onstyle="info" data-toggle="toggle">
                                                </div>
                                                <label>AR Batch Name</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-batch-name" type="radio" id="bn1" value="1" checked />
                                                    <label class="form-check-label" for="ex1">
                                                        Date
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-batch-name" type="radio" id="bn2" value="2" />
                                                    <label class="form-check-label" for="ex2">
                                                        Incrementing Value
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-batch-name" type="radio" id="bn3" value="3" />
                                                    <label class="form-check-label" for="ex3">
                                                        Value
                                                    </label>
                                                    <input type="text" name="batch-name-value" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Consolidate Invoice By</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-consolidate" type="radio" id="ac1" value="1" checked />
                                                    <label class="form-check-label" for="ac1">
                                                        From Billing Manager Config
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-consolidate" type="radio" id="ac2" value="2" />
                                                    <label class="form-check-label" for="ac2">
                                                        Organizations
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-consolidate" type="radio" id="ac3" value="3" />
                                                    <label class="form-check-label" for="ac3">
                                                        Carriers
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-consolidate" type="radio" id="ac4" value="4" />
                                                    <label class="form-check-label" for="ac4">
                                                        Groups
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ap-consolidate" type="radio" id="ac4" value="4" />
                                                    <label class="form-check-label" for="ac4">
                                                        Manage Individually in Payers Tab
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="margin-top:5px">
                                    <div class="card-header bg-info text-white">
                                        Invoice Template
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Globally Managed Invoice Templates</label><br />
                                                    <input type="checkbox" checked data-width="150" data-onstyle="info" data-toggle="toggle">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5 class="text-info">Files To Generate in each cycle:</h5>
                                                <section id="file-types">
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt1">Invoice
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt2">PDF
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt3">CSV
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt4">Excel
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt5">Word
                                                        </label>
                                                    </div>
                                                </section>
                                                <div class="form-group form-inline text-secondary" style="margin-top:6px">
                                                    <label for="inv-template">Invoice Template: </label>&nbsp;&nbsp;
                                                    <select class="form-control form-control-sm" id="inv-template">
                                                        <option value="" selected disabled>Options...</option>
                                                        <option>Template 1</option>
                                                        <option>Template 2</option>
                                                        <option>Template 3</option>
                                                        <option>Template 4</option>
                                                    </select>
                                                </div>
                                                <button class="btn btn-sm btn-info">
                                                    Manage Invoice Templates
                                                </button>
                                                <hr />
                                                <section id="claim-file-types">
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt1c">Claim Details
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt2c">PDF
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt3c">CSV
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="opt4c">Excel
                                                        </label>
                                                    </div>
                                                </section>
                                                <div class="form-group form-inline text-secondary" style="margin-top:6px">
                                                    <label for="inv-template">Claim Template: </label>&nbsp;&nbsp;
                                                    <select class="form-control form-control-sm" id="claim-detail-template">
                                                        <option value="" selected disabled>Options...</option>
                                                        <option>Template 1</option>
                                                        <option>Template 2</option>
                                                        <option>Template 3</option>
                                                        <option>Template 4</option>
                                                    </select>

                                                </div>
                                                <button class="btn btn-sm btn-info">
                                                    Manage Claim Detail Templates
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header bg-info text-white">
                                        Notification Settings
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="foo" id="notification" />
                                                    <label class="form-check-label" for="notification">
                                                        Generate AP Cycle Summary Notification
                                                    </label>
                                                </div>
                                                <section id="notification-options" style="margin-left:25px">
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="notification-option" type="radio" id="ex1" value="1" checked />
                                                        <label class="form-check-label" for="ex1">
                                                            After Each AP Cycle
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="notification-option" type="radio" id="ex2" value="2" />
                                                        <label class="form-check-label" for="ex2">
                                                            Weekly
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="notification-option" type="radio" id="ex3" value="3" />
                                                        <label class="form-check-label" for="ex3">
                                                            Monthly
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="notification-option" type="radio" id="ex4" value="4" />
                                                        <label class="form-check-label" for="ex4">
                                                            Only Upon Error
                                                        </label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="foobar" id="invoice-report" />
                                                    <label class="form-check-label" for="invoice-report">
                                                        Generate Unpaid Invoice Report
                                                    </label>
                                                </div>
                                                <section id="unpaid-options" style="margin-left:25px">
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="unpaid-option" type="radio" id="ex-option1" value="1" checked />
                                                        <label class="form-check-label" for="ex-option1">
                                                            After Each AR Cycle
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="unpaid-option" type="radio" id="ex-option2" value="2" />
                                                        <label class="form-check-label" for="ex-option2">
                                                            Weekly
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="unpaid-option" type="radio" id="ex-option3" value="3" />
                                                        <label class="form-check-label" for="ex-option3">
                                                            Monthly
                                                        </label>
                                                    </div>                                                   
                                                </section>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card" style="margin-top:5px">
                                    <div class="card-header bg-info text-white">
                                        Distribution Lists
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item notification-tab">
                                                        <a id="summary-tab" data-toggle="tab" class="nav-link active" href="#notification-summary">AP Cycle Summary Notification List</a>
                                                    </li>
                                                    <li class="nav-item notification-tab">
                                                        <a id="unpaid-tab" data-toggle="tab" class="nav-link" href="#notification-unpaid">Unpaid Invoice Report Notification List</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="notification-management">
                                                    <div class="tab-pane fade show active" id="notification-summary" role="tabpanel">
                                                        <div class="row" style="margin-top:6px">
                                                            <div class="col-lg-5">
                                                                <div class="input-group" style="margin-top:10px">
                                                                    <select id="users" class="form-control form-control-sm">
                                                                        <option>Aaron Fredrick</option>
                                                                        <option>Adam Trunnell</option>
                                                                        <option>Billy Buckles</option>
                                                                        <option>Ojal Acharya</option>
                                                                        <option>Todd Evans</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-sm btn-info">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <section id="distro-list" style="height:350px;overflow-y:scroll;overflow-x:hidden">
                                                                    <table class="table text-secondary">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>John Bosley</td>
                                                                                <td>03/11/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Cooter Davenport</td>
                                                                                <td>03/22/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Sabrina Duncan</td>
                                                                                <td>10/21/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Kelly Garett</td>
                                                                                <td>01/12/2019</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Major Grimes</td>
                                                                                <td>04/05/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Jill Munroe</td>
                                                                                <td>06/07/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Kris Munroe</td>
                                                                                <td>06/21/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Julie Rogers</td>
                                                                                <td>06/07/2017</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Teresa Thompson</td>
                                                                                <td>01/22/2019</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </section>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="notification-unpaid" role="tabpanel">
                                                        <div class="row" style="margin-top:6px">
                                                            <div class="col-lg-5">
                                                                <div class="input-group" style="margin-top:10px">
                                                                    <select id="users" class="form-control form-control-sm">
                                                                        <option>Aaron Fredrick</option>
                                                                        <option>Adam Trunnell</option>
                                                                        <option>Billy Buckles</option>
                                                                        <option>Ojal Acharya</option>
                                                                        <option>Todd Evans</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-sm btn-info">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7" style="height:350px;overflow-y:scroll;overflow-x:hidden">
                                                                <section id="distro2">
                                                                    <table class="table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Rosco P. Coltrane</td>
                                                                                <td>02/14/2019</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Cooter Davenport</td>
                                                                                <td>03/22/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Cooter Davenport</td>
                                                                                <td>03/22/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Cooter Davenport</td>
                                                                                <td>03/22/2018</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-danger">
                                                                                        <span class="fa fa-trash-o"></span>
                                                                                    </button>
                                                                                </td>
                                                                                <td>Cooter Davenport</td>
                                                                                <td>03/22/2018</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>


</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/ar.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.13/c3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            ar.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            ar.init();

            var chart = c3.generate({
                data: {
                    columns: [ ar.getMonthlyPayments() ],
                    types: {
                        Payments: 'area-spline'
                    }
                },
                axis: {
                    Payments: {
                        type: 'timeseries',
                        tick: {
                            values: ar.getPaymentDates()
                        }
                    }
                },
                color: {
                    pattern: ['#007bff']
                }
            });


        });
    </script>
}
