<!-- Dates cannot overlap.-->

<table class="table table-bordered" style="margin-top:7px">
    <thead>
        <tr class="text-primary">
            <td width="25"></td>
            <td>Effective Date</td>
            <td>Termination Date</td>
            <td>Last Updated</td>
            <td>Last Updated By</td>
            <td>Created On</td>
            <td>Created By</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center" class="text-primary">
                <a href="#">
                    <span class="fa fa-trash"></span>
                </a>               
            </td>
            <td>01/01/2018</td>
            <td>01/01/2019</td>            
            <td>Mack Straight</td>
            <td>03/21/2018</td>
            <td>01/01/2015</td>
            <td>Chris Faulhaber</td>
        </tr>
    </tbody>
</table>