<section id="member-search" style="margin-top:7px;" data-bind="visible: ShowSearch">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="panel-title">Member Search</div>
                </div>
                <div class="card-body text-primary">
                    <div class="row" data-bind="with: MemberSearchModel">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="member-id">Cardholder ID</label>
                                <input id="member-id" data-bind="inputText: MemberId" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input id="first-name" data-bind="inputText: FirstName" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input id="last-name" data-bind="inputText: LastName" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="SSN">SSN</label>
                                <input id="SSN" data-bind="inputText: SSN" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input id="dob" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <span>
                                <label><input data-bind="checked: MemberSearchModel.ActiveIndicator" type="checkbox" /> Active Indicator</label>
                            </span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <button class="btn btn-sm btn-default" style="min-width:95px">Clear</button>
                                <button style="min-width:125px" class="btn btn-sm btn-primary">
                                    <span class="fa fa-search"></span> Search
                                </button>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-hover" style="margin-top:7px">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th style="text-align: center;font-weight:normal">Member Id</th>
                                        <th style="text-align: center;font-weight:normal">First Name</th>
                                        <th style="text-align: center;font-weight:normal">Last Name</th>
                                        <th style="text-align: center;font-weight:normal">DOB</th>
                                        <th style="text-align: center;font-weight:normal">SSN</th>
                                        <th style="text-align: center;font-weight:normal">Active Flag</th>
                                        <th style="text-align: center;font-weight:normal">Current Active Group</th>
                                        <th style="text-align: center;font-weight:normal">Person Code</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: MemberSearchResults">
                                    <tr style="cursor: pointer" data-bind="click: members.onMemberResultClicked">
                                        <td data-bind="text: MemberId"></td>
                                        <td data-bind="text: FirstName"></td>
                                        <td data-bind="text: LastName"></td>
                                        <td data-bind="text: moment(DOB()).format('LL')"></td>
                                        <td data-bind="text: SSN"></td>
                                        <td data-bind="text: ActiveFlag"></td>
                                        <td data-bind="text: CurrentActiveGroup"></td>
                                        <td data-bind="text: PersonCode"></td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
