<div class="modal right fade" id="dependents-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="myModalLabel2" style="font-size:12pt">
                    Dependents
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body detail-font">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <span class="card-title">
                            <span style="margin-left:-11.5px;margin-right:8px" class="fa fa-male fa-2x"></span>
                            Richard Johnn (Cardholder)
                        </span>
                        <span class="pull-right">
                            Person Code: 01
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table" style="margin-bottom:-15px;margin-top:-15px">
                            <tr>
                                <td>
                                    <b>CHID</b>
                                    123456789
                                </td>
                                <td>
                                    <b>Alternate ID</b>
                                    44551235
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <b>DOB</b>
                                    01/01/1978 (Age: 40)
                                </td>
                                <td>
                                    <b>Gender</b>
                                    Male
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Active: </b> Yes
                                </td>
                                <td>
                                    <b>Relationship Code: </b>1
                                </td>
                            </tr>
                        </table>
                    </div>                    
                </div>
                <div style="border-left: solid 2px #808080;margin-bottom:-35px">
                    <div style="margin-left: 35px">
                        <div class="card" style="margin-top:7px;border:solid 7px black">
                            <div class="card-header text-white" style="background-color:hotpink">
                                <span class="pull-right">
                                    Person Code: 02
                                </span>
                                <span class="card-title">
                                    <span style="margin-left:-11.5px;margin-right:8px" class="fa fa-female fa-2x"></span>
                                    Candice Johnn <span class="fa fa-star"></span>
                                </span>
                            </div>
                            <hr style="margin:0 0 0 -37px; width:35px;border-width:1px;border-color:#808080" />
                            <div class="card-body" style="background-color:#fce4f0">
                                <table class="table" style="margin-bottom:-15px;margin-top:-15px">
                                    <tr>
                                        <td>
                                            <b>CHID</b>
                                            123456789
                                        </td>
                                        <td>
                                            <b>Alternate ID</b>
                                            44551235
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>DOB</b>
                                            01/01/1978 (Age: 40)
                                        </td>
                                        <td>
                                            <b>Gender</b>
                                            Female
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Active: </b> Yes
                                        </td>
                                        <td>
                                            <b>Relationship Code: </b>2
                                        </td>
                                    </tr>
                                </table>
                            </div>                           
                        </div>
                        <div class="card" style="margin-top:7px">
                            <div class="card-header text-white" style="background-color:hotpink">
                                <span class="pull-right">
                                    Person Code: 03
                                </span>
                                <span class="card-title">
                                    <span style="margin-left:-11.5px;margin-right:8px" class="fa fa-female fa-2x"></span>
                                    Brittany Johnn
                                </span>
                            </div>
                            <hr style="margin:0 0 0 -37px; width:35px;border-width:1px;border-color:#808080" />
                            <div class="card-body">
                                <table class="table" style="margin-bottom:-15px;margin-top:-15px">
                                    <tr>
                                        <td>
                                            <b>CHID</b>
                                            123456789
                                        </td>
                                        <td>
                                            <b>Alternate ID</b>
                                            44551235
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>DOB</b>
                                            01/01/1978 (Age: 40)
                                        </td>
                                        <td>
                                            <b>Gender</b>
                                            Female
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Active: </b> Yes
                                        </td>
                                        <td>
                                            <b>Relationship Code: </b>3
                                        </td>
                                    </tr>
                                </table>
                            </div>                            
                        </div>
                        <div class="card" style="margin-top:7px">
                            <div class="card-header bg-info text-white">
                                <span class="pull-right">
                                    Person Code: 04
                                </span>
                                <span class="card-title">
                                    <span style="margin-left:-11.5px;margin-right:8px" class="fa fa-male fa-2x"></span>
                                    Richard Johnn Jr.
                                </span>
                            </div>
                            <hr style="margin:0 0 0 -37px; width:35px;border-width:1px;border-color:#808080" />
                            <div class="card-body">
                                <table class="table" style="margin-bottom:-15px;margin-top:-15px">
                                    <tr>
                                        <td>
                                            <b>CHID</b>
                                            123456789
                                        </td>
                                        <td>
                                            <b>Alternate ID</b>
                                            44551235
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>DOB</b>
                                            01/01/1978 (Age: 40)
                                        </td>
                                       
                                        <td>
                                            <b>Gender</b>
                                            Male
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Active: </b> Yes
                                        </td>
                                        <td>
                                            <b>Relationship Code: </b>3
                                        </td>
                                    </tr>
                                </table>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </span>               
            </div>
        </div>
    </div>
</div>