<div class="modal right fade" id="diagnosis-code-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel2">
                    Add Diagnosis Code
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="diagnosis-code">Diagnosis Code</label>
                    <input id="diagnosis-code" maxlength="10" style="max-width:200px" class="form-control form-control-sm" data-bind="value: NewDiagnosisCode" />
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" style="width:125px" class="btn btn-primary" data-bind="click: members.createDiagnosisCode">Create</button>
                </span>
                
            </div>
        </div>

    </div>
</div>
