<div class="modal right fade" id="dependents-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="myModalLabel2">
                    Dependents
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="list-group" style="margin-bottom:-25px">
                    <li class="list-group-item">  
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="text-primary fa fa-user fa-4x"></span>                                                             
                            </div>
                            <div class="col-lg-10">
                                <table class="table-bordered table-sm table detail-font">
                                    <tr>
                                        <td>
                                            <b>Person Code:</b>
                                        </td>
                                        <td class="text-primary">01</td>
                                    </tr>
                                    <tr>
                                        <td><b>Cardholder Name:</b></td>
                                        <td class="text-primary">
                                            Rick Johnn
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>CHID:</b>
                                        </td>
                                        <td class="text-primary">
                                            123456789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Gender</b>
                                        </td>
                                        <td class="text-primary">
                                            Male
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>DOB</b></td>
                                        <td class="text-primary">01/01/1978 (Age: 40)</td>
                                    </tr>
                                    <tr>
                                        <td><b>Active</b></td>
                                        <td class="text-primary">Not Really</td>
                                    </tr>
                                    <tr>
                                        <td><b>Alternate ID:</b></td>
                                        <td class="text-primary">44552145</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span class="text-primary fa fa-user fa-4x"></span>
                                    </div>
                                    <div class="col-lg-10">
                                        <table class="table-bordered table-sm table detail-font">
                                            <tr>
                                                <td>
                                                    <b>Person Code:</b>
                                                </td>
                                                <td class="text-primary">01</td>
                                            </tr>
                                            <tr>
                                                <td><b>Cardholder Name:</b></td>
                                                <td class="text-primary">
                                                    Rick Johnn
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>CHID:</b>
                                                </td>
                                                <td class="text-primary">
                                                    123456789
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Gender</b>
                                                </td>
                                                <td class="text-primary">
                                                    Male
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>DOB</b></td>
                                                <td class="text-primary">01/01/1978 (Age: 40)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Active</b></td>
                                                <td class="text-primary">Not Really</td>
                                            </tr>
                                            <tr>
                                                <td><b>Alternate ID:</b></td>
                                                <td class="text-primary">44552145</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span class="text-primary fa fa-user fa-4x"></span>
                                    </div>
                                    <div class="col-lg-10">
                                        <table class="table-bordered table-sm table detail-font">
                                            <tr>
                                                <td>
                                                    <b>Person Code:</b>
                                                </td>
                                                <td class="text-primary">01</td>
                                            </tr>
                                            <tr>
                                                <td><b>Cardholder Name:</b></td>
                                                <td class="text-primary">
                                                    Rick Johnn
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>CHID:</b>
                                                </td>
                                                <td class="text-primary">
                                                    123456789
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Gender</b>
                                                </td>
                                                <td class="text-primary">
                                                    Male
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>DOB</b></td>
                                                <td class="text-primary">01/01/1978 (Age: 40)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Active</b></td>
                                                <td class="text-primary">Not Really</td>
                                            </tr>
                                            <tr>
                                                <td><b>Alternate ID:</b></td>
                                                <td class="text-primary">44552145</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span class="text-primary fa fa-user fa-4x"></span>
                                    </div>
                                    <div class="col-lg-10">
                                        <table class="table-bordered table-sm table detail-font">
                                            <tr>
                                                <td>
                                                    <b>Person Code:</b>
                                                </td>
                                                <td class="text-primary">01</td>
                                            </tr>
                                            <tr>
                                                <td><b>Cardholder Name:</b></td>
                                                <td class="text-primary">
                                                    Rick Johnn
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>CHID:</b>
                                                </td>
                                                <td class="text-primary">
                                                    123456789
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Gender</b>
                                                </td>
                                                <td class="text-primary">
                                                    Male
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>DOB</b></td>
                                                <td class="text-primary">01/01/1978 (Age: 40)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Active</b></td>
                                                <td class="text-primary">Not Really</td>
                                            </tr>
                                            <tr>
                                                <td><b>Alternate ID:</b></td>
                                                <td class="text-primary">44552145</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </li>
                        </ul>                                                         
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" style="width:125px" class="btn btn-primary">Save</button>
            </div>
        </div>

    </div>
</div>

