<div class="card" style="margin-top:6px">
    <div class="card-header">
        <span class="card-title">Main Member Data</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input id="first-name" class="form-control form-control-sm" type="text" data-bind="textInput: FirstName"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="middle-name">Middle Name</label>
                    <input id="middle-name" class="form-control form-control-sm" type="text" data-bind="textInput: MiddleName" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input id="last-name" class="form-control form-control-sm" type="text" data-bind="textInput: LastName" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="SSN">SSN</label>
                    <input id="SSN" class="form-control form-control-sm" type="text" data-bind="textInput: SSN"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Gender">Gender</label>
                    <select id="gender-options" class="form-control form-control-sm ">
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="date-of-birth">Date of Birth</label>
                    <input id="date-of-birth" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="carrier-code">Carrier Code</label>
                    <input id="carrier-code" class="form-control form-control-sm" type="text" data-bind="textInput: CarrierCode" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="carrier-name">Carrier Name</label>
                    <input id="carrier-name" class="form-control form-control-sm" type="text" data-bind="textInput: CarrierName" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="enrollment-method">Enrollment Method</label>
                    <select id="enrollment-method" class="form-control form-control-sm">
                        <option>ADJ - From Adjudicator</option>
                        <option>MES - From Member Entry Screen</option>
                        <option>MLS - From Eligibility File Load</option>
                        <option>WEB - From Web Services</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="case-manager">Case Manager</label>
                    <input id="case-manager" data-bind="textInput: CaseManager" class="form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="alt-member-id">Alternative Member ID</label>
                    <input id="alt-member-id" data-bind="textInput: AlternateId" class="form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="prev-member-id">Previous Member ID</label>
                    <input id="prev-member-id" data-bind="textInput: PreviousId" class="form-control form-control-sm" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="language-pref">Preferred Language</label>
                <select id="language-pref" class="form-control form-control-sm ">
                    <option>Arabic</option>
                    <option>Chinese</option>
                    <option selected>English</option>
                    <option>Farsi</option>
                    <option>German</option>
                    <option>Greek</option>
                    <option>Haitian Creole</option>
                    <option>Italian</option>
                    <option>Korean</option>
                    <option>Navajo</option>
                    <option>Polish</option>
                    <option>Portuguese</option>
                    <option>Russian</option>
                    <option>Spanish</option>
                    <option>Tagalog</option>
                    <option>Vietnamese</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="created-date">Date Created</label>
                <div class="form-control form-control-sm text-primary" data-bind="text: moment(DateCreated()).format('LL')"></div>
            </div>
            <div class="col-lg-4">
                <label for="card-print-date">Card Print Date</label>
                <div class="form-control form-control-sm text-primary">
                    <span class="fa fa-print"></span> 
                    <span data-bind="text: moment(CardPrinted()).format('LL')"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin-top:7px;margin-bottom:7px">
    <div class="card-header">
        <span class="card-title">Member Adjudication Options</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <label><input type="checkbox" /> Reject Primary Claims</label>
            </div>
            <div class="col-lg-4">
                <label><input type="checkbox" /> Ignore Updates from Imports</label>
            </div>
        </div>
    </div>
</div>
