<div class="card">
    <div class="card-header">
        <span class="card-title">Member Benefit Summary</span>
    </div>
    <div class="card-body" data-bind="with: MemberBenefitSummaryModel">
        <h6 class="text-primary text-center" style="font-weight:bold;margin-top:-5px">
            <span data-bind="text: ActiveGroup"></span> with 
            <span data-bind="text: moment(BenefitStartDate()).format('ll')"></span>
        </h6>
        <table class="table table-bordered detail-font" style="font-size:11px;margin-bottom:-10px">
            <thead class="bg-info text-white">
                <tr>
                    <td></td>
                    <th style="text-align:center; font-weight:normal">Benefit Paid</th>
                    <th style="text-align:center; font-weight:normal">Copay Paid</th>
                    <th style="text-align:center; font-weight:normal">Deductible</th>
                </tr>
            </thead>
            <tbody class="text-primary"> <!-- these are read-only -->
                <tr>
                    <td style="vertical-align:middle;font-weight:bold">Individual</td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="benefit-paid-individual" data-bind="text: IndividualBenefit().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                        
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="copay-paid-individual" data-bind="text: IndividualCopay().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                        
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="deductible-individual" data-bind="text: IndividualDeductible().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                       
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle;font-weight:bold"><span class="fa fa-check-circle text-success"></span> Family</td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="benefit-paid-family" data-bind="text: FamilyBenefit().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                        
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="copay-paid-family" data-bind="text: FamilyCopay().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                        
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <div id="deductible-family" data-bind="text: FamilyDeducatible().toFixed(2)" type="text" class="form-control form-control-sm"></div>
                        </div>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card" style="margin-top:5px">
    <div class="card-header ">
        <span class="card-title">Member Group Eligibility</span>
    </div>
    <div class="card-body">
        <table class="table table-bordered detail-font" style="font-size:11px;margin-bottom:-10px">
            <thead class="bg-info text-white">
                <tr>
                    <th style="font-weight:normal" class="text-center">Group #</th>
                    <th style="font-weight:normal" class="text-center">Effective Date</th>
                    <th style="font-weight:normal" class="text-center">Termination Date</th>
                    <th style="font-weight:normal" class="text-center">Coverage Type</th>
                    <th style="font-weight:normal" class="text-center">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>67891</td>
                    <td class="text-center">01/01/2018</td>
                    <td class="text-center">01/01/2019</td>
                    <td>Plan Beta Two</td>
                    <td class="text-center">04/22/2018</td>
                </tr>
                <tr>
                    <td>12345</td>
                    <td class="text-center">01/01/2017</td>
                    <td class="text-center">01/01/2018</td>
                    <td>Plan Beta One</td>
                    <td class="text-center">01/02/2018</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card" style="margin-top:5px">
    <div class="card-header">
        <span class="card-title">Member Eligibility</span>
    </div>
    <div class="card-body">
        <table class="table table-bordered detail-font" style="font-size:11px;margin-bottom:-10px">
            <thead class="bg-info text-white">
                <tr>
                   
                    <th style="font-weight:normal" class="text-center">Effective Date</th>
                    <th style="font-weight:normal" class="text-center">Termination Date</th>                    
                    <th style="font-weight:normal" class="text-center">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td class="text-center">01/01/2018</td>
                    <td class="text-center">01/01/2019</td>
                    
                    <td class="text-center">03/21/2018</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<div class="text-primary detail-font">
    <div class="card" style="margin-top:5px">
        <div class="card-body">
            <table style="width:100%">
                <tr>
                    <td class="text-center">
                        <span>Last Changed Date: </span><span>10/18/2018</span>
                    </td>
                    <td class="text-center">
                        <span>Last Changed By: </span><span>Chris Faulhaber</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
