@using Newtonsoft.Json
@{
    ViewBag.Title = "ScriptCycle Prototype - Members";
}
<div class="row">
    <div class="col-lg-9">
        <div style="margin-top:5px">
            <a href="#">Members</a> -> <a href="#">Member Search</a> -> <a href="#">Member Info</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="float-right">
            <button type="button" class="btn btn-sm btn-primary">Configuration</button>
        </div>
    </div>
</div>

@Html.Partial("_MemberSearch")
@Html.Partial("_MemberInfo")

@section scripts {
    <script src="~/Scripts/Members.js"></script>
    <script type="text/javascript">
        $(function () {
            members.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            members.init();
        })
    </script>
}